body[data-controller="shunfeng"] {
  #qr_button {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .product_item {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ddd;
  }

  .product_thumb {
    width: 50px;
    margin-bottom: 5px;
  }

  #product_number {
    margin-top:20px;
    margin-bottom:10px;
  }

}

