<%= content_for :page_title, '隐私声明' %>

<div class="container">
  <h1>隐私声明</h1>
  消息提醒客户端非常重视保护使用其应用和服务用户的隐私权，因此制订如下细则，以下统称“本应用”：

  <h3>个人信息：</h3>
  <p> 有关技术上的信息，当用户使用本应用，我们收集和汇总诸如哪些功能被使用，程序运行记录等信息，获得的信息将被用于趋势分析及统计，提升用户体验。 <br>
    有关个人身份的信息：本应用只收集由用户在自主意愿下所填写、传送并愿意由本应用所使用的资料。 </p>

  <h3> 信息公开与共享： </h3>
  <p> 除了以下情况，本应用不会将您的个人识别信息出租或出售给任何人： </p>

  <ul>
    <li> 您同意让第三方使用您的个人资料； </li>
    <li> 只有透露个人资料，才能为您提供您所要求的产品和服务； </li>
    <li> 我们需要听从法庭传票、法律命令或遵循法律程序； 当我们发现您违反了本应用服务条款、任何其它产品及服务的使用规定，或者有关的法律法规。</li>
    <li> 本应用所收集的证实个人身份的信息存储在加密服务器上，我们对这些服务器采取安全保护措施，从而保护这些服务器和用户个人信息。 </li>
  </ul>

  <h3> 隐私权政策的修订： </h3>
  <p> 根据需要，将随时修改本隐私权保护规定。我们建议用户定期上网查看最新的隐私政策于使用条款规定。未来任何条款如有更新，我们将不主动提醒用户，
    亦不会回溯应用在之前所发生的情形，同时不会改变我们对于之前所收集的资料之处理方式。</p>
</div>
