<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h5 class="modal-title"><%= @product.name %></h5>
</div>

<form role="form" data-remote="true" method="post">
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-3">
        <img width=100% src="<%= @product.image %>">
      </div>
      <div class="col-xs-9">
        <div class="form-group">
          <label class="control-label" for="threshold">商品低于以下价格时提醒我：</label>
          <input type="number" inputmode="numeric" pattern="[0-9]*" name='threshold' id='threshold-input'
                 class="form-control input-sm borderless-input" value="<%= @price  %>">
          <input type="hidden" name='product_id' value="<%= @product.id %>"/>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input type="button" class="btn btn-default" data-dismiss="modal" value="取消">
    <input type="submit" class="btn btn-primary" value="保存"/>
  </div>
</form>
