default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: 5
  username: root
  password:
  host: localhost

development:
  <<: *default
  database: tixing_development

test:
  <<: *default
  database: tixing_test

production:
  <<: *default
  database: tixing_production
  username: tixing
  password: <%= ENV['TIXING_DATABASE_PASSWORD'] %>
