<div class="row">
  <div class="col-xs-12 input-group-lg">
    <input type="number" inputmode="numeric" pattern="[0-9]*"  class="form-control borderless-input" id="product_number" placeholder="请输入顺丰优选商品编号" maxlength="15"/>
  </div>
  <div class="col-xs-12">
    <p class="centered">或者</p>
    <button class="btn btn-success center-block" id="qr_button"><span class="glyphicon glyphicon-qrcode"></span> 扫描商品二维码</button>
  </div>
</div>

<div class="modal fade" id="monitoring_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="monitoring_modal_content">
    </div>
  </div>
</div>

<div id='product_list' class="row">
  <%= render partial: 'product' %>
</div>

